{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shoe Store</title>

    <!-- CSS MUST BE HERE -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<!-- NAVBAR -->
<nav class="nike-navbar">

    <!-- BRAND -->
    <a href="{% url 'home' %}" class="brand">
        SHOE <span>STORE</span>
    </a>

    <!-- CENTER MENU -->
    <div class="menu">
        <a href="#">New & Featured</a>
        <a href="#">Men</a>
        <a href="#">Women</a>
      
    </div>

    <!-- RIGHT SIDE -->
    <div class="nav-right">

        <form method="get" action="{% url 'home' %}" class="search-box">
            <input type="text" name="q" placeholder="Search shoes...">
        </form>

        <a href="{% url 'wishlist' %}" class="icon-btn">♡</a>

        <a href="{% url 'cart' %}" class="icon-btn">🛒</a>

        {% if user.is_authenticated %}
            <span class="user">👤 {{ user.username }}</span>

            <form method="post" action="{% url 'logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>

        {% else %}
            <a href="{% url 'login' %}" class="login-btn">Login</a>
        {% endif %}

    </div>

</nav>

<!-- PAGE CONTENT -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>